.containerCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border: 1px solid #3458CD;
    border-radius: 8px;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.detailContainerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 10px;
    border: 1px solid #3458CD;
    border-radius: 8px;
    width: 100%;
    height: 70px;
    background-color: #f6f6f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.flagDetail {
    height: 40px;
    width: 40px;
}

.detailContainerDiv h1 {
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
}

.containerCard:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.flag {
    height: 40px;
    width: 70px;
}

.containerCard h1 {
    font-size: 25px;
    color: black;
}

.name {
    font-size: 9px;
    font-weight: 600;
    color: #333;
    text-align: right;
    flex: 1;
}